# Default ProviderConfig that provider-kubernetes uses to connect to the cluster.
# This must exist before the Object can create other resources.
apiVersion: kubernetes.m.crossplane.io/v1alpha1
kind: ProviderConfig
metadata:
  name: default
  namespace: default
spec:
  credentials:
    source: InjectedIdentity

---

# Default cluster scoped ProviderConfig that provider-kubernetes uses to connect to the cluster.
# This must exist before the Object can create other resources.
apiVersion: kubernetes.crossplane.io/v1alpha1
kind: ProviderConfig
metadata:
  name: default
  namespace: default
spec:
  credentials:
    source: InjectedIdentity
